:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #F9f9f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-primary: #e2fff5;
  --color-secondary: #5daf82;
  --color-border: #bef8e5;
  --border-radius: 0.5rem;
  --border-width: 0.35rem;
  --h1-font-size: 4rem;
  --h2-font-size: 2.5rem;
  --text-font-size: 1.5rem;

}

body {
  margin: 0;
}